extends layout

block head
  link(rel='stylesheet', href='./public/stylesheets/style.css')

block content
  .container
    h1= "Hotel Management System"
    p Welcome to #{title}
    button.btn-blue(onclick="window.location.href='/api-docs'") Click to access HMS
